################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NDMockTests/v16
/.vs
/bin
/Projects/NDMockTests/obj/Debug
/BuildModelResult.xml
/BuildModelResult.log
